[submodule "cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy
[submodule "libcaer"]
	path = libcaer
	url = https://github.com/inilabs/libcaer.git
[submodule "imageutilities"]
	path = imageutilities
	url = https://github.com/VLOGroup/imageutilities.git
